@use '_mixins';
@use'_variables';


html{
            background-color: variables.$background;

}

.dashboard {
    max-width: 1400px;
    /*(dashboard doesn't need to go wider)*/

    display: grid;
    grid-template-areas: ' header header header header'
        'aside main main main';
}

h1 {
    font-size: 1.25rem;
    text-align: center;
}

h2,
h3,
h4 {
    font-size: 1rem;
}

header {
    @include mixins.base-style(variables.$background-accent);
    grid-area: header;

    height: 4em;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 variables.$padding-default;

    /* Centered-title: "Operations Dashboard" */

    p {
        text-align: right;
    }
}

aside {
    @include mixins.base-style(variables.$background-accent);

    grid-area: aside;
    width: 240px;
    text-align: left;
    padding: variables.$padding-default;

    .button-wrapper {
        display: flex;
        flex-direction: column;
        gap: .2em;

        button {
            color: #666666;
            width: 100%;
            height: 3.2em;
            padding: 12px 16px;
            text-align: left;
            outline: none;
            border: none;

            // Full width of sidebar

            //active - later to be removed when react is added
            // &:active {
            //     color: variables.$accent;
            //     border-left: 4px solid $accent;


            .active {
                color: variables.$accent;
                border-left: 4px solid variables.$accent;

            }



            &:hover {
                background: variables.$background;
                border: none;
                border-left: 4px solid variables.$accent;
            }
        }
    }
}





/* 
Layout:

At screens < 768px: stack sidebar above content (mobile nav collapse later)


Responsive Breakpoints:

Desktop: 1024px+
Tablet: 768px–1023px
Mobile: < 768px */

@media(min-width:769px) and (max-width:1023px) {
    .dashboard {

        grid-template-areas: ' header'
            'aside'
            'main ';

        aside {
            width: auto;
            padding: variables.$padding-default;

            .button-wrapper {
                width:auto;
                padding: variables.$padding-none ;
                margin-inline: variables.$padding-default;
                flex-wrap: no-wrap;
                flex-direction: row;
                justify-content: space-around;

                button {
                    width: 20%;
                }
            }
        }
    }
}

@media(max-width:768px) {
    .dashboard {
        grid-template-areas: 'header'
            'aside'
            'main';

        header {

            p {
                text-align: center;
            }
        }

        // main {
        //     min-width: 587px;
        //     font-size: smaller;
        // }

        aside {
            width: 100dvw;

            .button-wrapper {
                width: auto;
                flex-wrap: no-wrap;
                flex-direction: row;
                justify-content: space-around;
                padding: variables.$padding-default;


                button {
                    width: 20%;
                    height: 2.3rem;
                    padding: 6px;
                    font-size: .7rem;

                    &:hover {
                        border-left: none;
                        border-top: 4px solid variables.$accent;
                    }

                }
            }
        }
    }
}